
*{
    box-sizing: border-box;
}
body{
    background-color: whitesmoke
}
nav{
    background-color: rgb(82, 80, 80);
}
ul {
    padding: 0px;
    margin: 0px;
}
nav ul{
    position: relative;
    left:70px;
}
nav ul li{
    display:inline-block;
    padding: 10px;
     vertical-align: middle;
}

/* nav ul li:last-child{
    position: absolute;
    left:50px;
} */

nav ul li a{
    color:#ddc6c6;
    text-decoration: none;
    font-weight: bold;
    padding: 50px;
} 

main{
    text-align: center;
    padding: 30px;
}

.div1 div{
    padding: 13px ;
    display: inline-block;
}
img {
    vertical-align: middle;
}
.div2 {
    position: relative;
    background-color: lightblue;
    width: 500px;
    height: 400px;
    overflow: scroll;
    display: inline-block;
    vertical-align: middle;
  }
button {
    background-color: rgb(15, 13, 13);
    border: none;
    color: rgb(245, 237, 237);
    padding: 10px ;
    font-size: 15px;
}

button:hover {
  background-color: rgb(192, 14, 53);
  color: white;
}
#foot{
    /* clear: both; */
    padding: 50px;
    text-align: center;
    background-color: rgb(65, 61, 61);
}

